@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #382039;
  color: white;
  display: flex;
  font-family: Arial, sans-serif;
  flex-direction: column;
  min-height: 100vh;
}

